@using (Html.BeginForm("CreatePlayer", "Game", FormMethod.Post))
{
    <div class="create-player-container">
        <h1>Enter your name</h1>
        <input class="enter-name" type="text" name="name" required/>
        <input class="submit-name" type="submit" name="submit" value="Play"/>
    </div>
}