@using HangmanOnline.Models.ViewModels
@model GameSession

<div class="player-one-hearths-container">
    <h1 id="playerOneName"></h1>
    <div id="playerOneHealth"></div>
</div>

<div class="player-two-hearths-container">
    <h1 id="playerTwoName"></h1>
    <div id="playerTwoHealth"></div>
</div>

<div class="logo">
    <img src=~/hangman.png/>
</div>


<div class="letter-container">
@foreach(char letter in @Model.Word){
        <div class="letter"></div>
}
</div>

<div class="input-container">
    <input class="put-letter" type="text" maxlength=1/>
    <a class="submit-btn">GO</a>
</div>

<script defer src="~/js/signalr/dist/browser/signalr.js"></script>
<script defer src="~/js/hangman.js"></script>