<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HangmanOnline</title>
    <link href="~/css/hangman.css" rel="stylesheet"/>
</head>
<body>
    <div class="main-container">
        @RenderBody()
    </div>
</body>
</html>
